<div [formGroup]="group">
    <div class="detail-container">
        <div class="image-container">
            <img [src]="group.value.url">            
        </div>
        <div class="infos-container">
            <mat-form-field class="full-width">
                <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>
            <mat-form-field class="full-width">
                <textarea matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
            
            <button (click)="onDelete()">Remove</button>
        </div>
    </div>
</div>