
    <div class="detail-container" [formGroup]="group">
        <div class="image-container">
            <img [src]="group.value.url">            
        </div>
        <div class="infos-container">
            <mat-form-field class="full-width">
                <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>
            <mat-form-field class="full-width">
                <textarea matInput placeholder="Description" formControlName="description" [cdkTextareaAutosize]="true" [cdkAutosizeMaxRows]="5" [cdkAutosizeMinRows]="5"></textarea>
            </mat-form-field>
            
            <button mat-button color="warn" (click)="onDelete()">Remove</button>
        </div>
    </div>
