<div class="card">
    <p>{{upload.file.name}}</p>
    <p>State : {{upload.state}}</p>
    <p>Path : {{upload.path}}</p>
    <p *ngIf="upload.downloadUrl">Download Url : <a [href]="upload.downloadUrl">{{upload.downloadUrl}}</a></p>
    <div *ngIf="snapshot | async as snap">
        {{ snap.bytesTransferred }} of {{ snap.totalBytes }}
        <div *ngIf="!isFinished(snap)">
            <button (click)="upload.task.pause()" [disabled]="!isRunning(snap)">Pause</button>
            <button (click)="upload.task.cancel()" [disabled]="!isRunning(snap)">Cancel</button>
            <button (click)="upload.task.resume()" [disabled]="!(snap?.state === 'paused')">Resume</button>
        </div>
    </div>
</div>