.image-viewer {
    text-align: center;
    position: relative;
    .image-container, .hover-details {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .image-container {
        display: flex;
        justify-content: center;
        img {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
        }
        img.landscape {
            width: 100%;
            height: auto;
        }
        img.portrait {
            height: 100%;
            width: auto;
        }
    }

    .actions-ctn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        .next-ctn, .previous-ctn {
            width: 20%;
            button {
                top: calc(50% - 20px);
            }
        }
        
        .next-ctn.hoverEffect:hover {
            background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,255,255,1));
            z-index: 200;
        }

        .previous-ctn.hoverEffect:hover {
            background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,255,255,1));
            z-index: 200;
        }
    }

}