<h2 *ngIf="isCreateState()">Nouvel post !</h2>
<h2 *ngIf="!isCreateState()">Update post !</h2>
<div>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div>
            <label>Name</label>
            <input formControlName="name" required>
            <div *ngIf="name.errors && (name.touched || name.dirty)">
                <span *ngIf="name.errors.required">Name is required</span>
                <span *ngIf="name.errors.nameTaken">Name already exists</span>
            </div>
        </div>
        <div>
            <label>Description</label>
            <input formControlName="description" required>
            <div *ngIf="description.errors && (description.touched || description.dirty)">
                <span *ngIf="description.errors.required">Description is required</span>
            </div>
        </div>
        <app-image-picker [parentForm]="postForm"></app-image-picker>
        <div>
            <p>
                Form Status: {{ postForm.status }}
                <span *ngIf="apiError"><br>{{apiError}}</span>
            </p>
            <button type="submit" [disabled]="!postForm.valid">Submit</button>
        </div>
    </form>
</div>