
<mat-card class="form-card">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <mat-card-title *ngIf="isCreateState()">
            New post
        </mat-card-title>
        <mat-card-title *ngIf="!isCreateState()">
            Update post
        </mat-card-title>
        <mat-form-field class="full-width">
            <input matInput placeholder="Title" formControlName="name" autofocus required>
            <mat-error *ngIf="name.errors?.required">
                Title is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="name.errors?.nameTaken">
                Title already exists
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <textarea matInput placeholder="Description" formControlName="description" required></textarea>
            <mat-error *ngIf="description.errors?.required">
                Description is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <app-image-picker [parentForm]="postForm" #imagePicker></app-image-picker>
        <div>
            <mat-error *ngIf="!name.errors && !description.errors && images.errors?.required">At least one image is required</mat-error>
            <mat-error *ngIf="apiError">{{apiError}}</mat-error>
        </div>
        
        <mat-card-actions>
            <button mat-raised-button color="warn" type="reset" (click)="resetForm()">Reset</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!postForm.valid">Submit</button>
        </mat-card-actions>
    </form>
</mat-card>