<mat-card>
    <mat-card-header>
        <div mat-card-avatar><mat-icon [color]="color">cloud_done</mat-icon></div>
        <mat-card-title [title]="upload.name">{{upload.name}}</mat-card-title>
        <mat-card-subtitle>{{upload.extension}} file</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="details-container mat-body">
            <div class="label">
                Size
            </div>
            <div class="value">
                {{upload.size | displayFileSize}}
            </div>
            <div class="label">
                Extension
            </div>
            <div class="value">
                {{upload.extension}}
            </div>
            <div class="label">
                Launched on
            </div>
            <div class="value">
                {{upload.createdAt | date:'short'}}
            </div>
            <ng-container *ngIf="upload.state === UploadState.SUCCESS || upload.state === UploadState.RUNNING">
                <div class="label">
                    Path
                </div>
                <div class="value" [title]="upload.path">
                    {{upload.path}}
                </div>
            </ng-container>
        </div>
        <ng-container *ngIf="upload.state === UploadState.RUNNING">
            <ng-container *ngIf="snapshot | async as snap">   
                <div *ngIf="percentage | async as pct" class="mat-h4 text-center">
                    {{ pct | number }}%
                    <mat-progress-bar
                        color="primary"
                        mode="determinate"
                        [value]="pct"
                        max="100">
                    </mat-progress-bar>
                    {{ snap.bytesTransferred | displayFileSize }} of {{ snap.totalBytes | displayFileSize }}  
                </div>              
            </ng-container>
        </ng-container>
    </mat-card-content>
    <mat-card-actions>
        <ng-container *ngIf="upload.state === UploadState.SUCCESS">
            <a mat-raised-button color="primary" [href]="upload.downloadUrl" target="_blank"><mat-icon>cloud_download</mat-icon> DOWNLOAD</a>
            <button mat-raised-button color="accent" (click)="deleteUpload()"><mat-icon>delete</mat-icon> DELETE</button>
        </ng-container>
        <ng-container *ngIf="snapshot | async as snap">
            <button mat-raised-button (click)="upload.task.pause()" [disabled]="!isRunning(snap)"><mat-icon>pause</mat-icon> PAUSE</button>
            <button mat-raised-button color="warn" (click)="upload.task.cancel()" [disabled]="!isRunning(snap)"><mat-icon>cancel</mat-icon> CANCEL</button>
            <button mat-raised-button class="margin-0" (click)="upload.task.resume()" [disabled]="!(snap?.state === 'paused')"><mat-icon>play_arrow</mat-icon> RESUME</button>
        </ng-container>
    </mat-card-actions>
</mat-card>