<!--The content below is only a placeholder and can be replaced.-->
<div class="root">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span class="headline">{{title}}</span>
            <span class="fill-remaining-space"></span>
            <ng-container *ngIf="isAuthenticated()">
                <button mat-raised-button color="accent" (click)="logOut()">Log Out</button>
            </ng-container>
            <ng-container *ngIf="!isAuthenticated()">
                <a mat-raised-button color="accent" routerLink="/authentication/login">Log In</a>
            </ng-container>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span class="fill-remaining-space"></span>
            <a mat-button routerLink="/">Home</a>
            <a mat-button routerLink="/posts">Posts</a>
            <a mat-button routerLink="/uploads">Uploads</a>
        </mat-toolbar-row>
    </mat-toolbar>
    <div>
        <button (click)="overlay.toggle()" #targetOverlay>CLICK ME BITCH</button>
        <app-md-overlay [targetElement]="targetOverlay" [position]="position" [width]='400+"px"' [height]='200+"px"' #overlay>
            <mat-card-title>Trying some shit</mat-card-title>
        </app-md-overlay>
    </div>
    <router-outlet></router-outlet>
</div>