<!--The content below is only a placeholder and can be replaced.-->
<h1>App Links: </h1>
<ul>
    <li>
        <h2><a routerLink="/authentication">Authentification</a></h2>
    </li>
    <li>
        <h2><a routerLink="/posts" routerLinkActive="active">Posts</a></h2>
    </li>
    <ng-container *ngIf="isAuthenticated()">
        <li>
            <h2><a routerLink="/uploads" >Uploads</a></h2>
        </li>
        <li>
            <h2><a routerLink="" (click)="logOut()">Se déconnecter</a></h2>
        </li>
    </ng-container>
</ul>

<router-outlet></router-outlet>