<div>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <div>
          <label>Email</label>
          <input type="text" formControlName="email" required autofocus/>
          <div *ngIf="email.errors && (email.dirty || email.touched)">
            <span *ngIf="email.errors.required">
              Email is required.
            </span>
            <span *ngIf="email.errors.validEmail">
              Email must be valid.
            </span>
          </div>
      </div>
      <div>
          <label>Mot de passe</label>
          <input type="password" formControlName="password" required/>
          <div *ngIf="password.errors && (password.dirty || password.touched)">
            <span *ngIf="password.errors.required">
              Password is required.
            </span>
          </div>
      </div>
      <div *ngIf="invalidCredentials">
        <p>Invalid credentials</p>
      </div>
      <div>
          <button type="submit" [disabled]="!authForm.valid">Log In</button>
      </div>
  </form>
</div>
<div>
    <p>Log in as "[{{ '{' }}
            email: 'test@test.fr',
            password: 'test123456'
            {{ '}' }}]"</p>
</div>
