/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    margin: 3vh 10vw;
    background-color: #e8eaf6;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/startupangular.appspot.com/o/files%2F1567602082992_wp2.jpg?alt=media&token=72e80940-a47a-4556-af9b-cecbdc302b0c);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.main-container {
    margin: 0px 25px;
}

.container {
    padding: 30px 20px;
    min-height: 74vh;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
    margin: 0;
    position: absolute!important;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

.both-center {
    margin: 0;
    position: absolute!important;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    top: 50%;
}

.full-width {
  width: 100%;
}